__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
.vscode
.idea

*.wav
*.mp3
*.aac
*.opus
*.flac

venv/
env/
ENV/
env.bak/
venv.bak/

README.md
Dockerfile
docker-compose.yml
.dockerignore
